<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Holafly - Menu V2</title>
    <link href="headerv2.css" rel="stylesheet" type="text/css">

</head>

<body style="background-color: #edf2f7;">

    <!--/Header-->
    <header class="header_v2" role="heading">
        <nav>
            <div class="nav__icon" style="outline: 2px solid rgba(255, 192, 203, .5);">
                <div class="icon__area">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <h1 class="logo">
                <strong>Holafly</strong>
                <a href="/"><img src="https://cdn.shopify.com/s/files/1/2347/1879/t/59/assets/holafly-logo.svg?v=140646997702186304541660233733">
                </a>
            </h1>
            <ul class="v2__navigation">
                <li><a href="#">Destinos</a></li>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a class="active" href="#">Contacto</a></li>
            </ul>
            <ul class="v2__toggles" style="outline: 2px solid rgba(255, 192, 203, .5);">
                <li>Lang</li> &nbsp;-&nbsp;
                <li> Currencie&nbsp;</li>
            </ul>
            <ul class="v2__cart" style="outline: 2px solid rgba(133,206,136, .2);">
                <li>
                    <a href="">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="shopping-cart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="#292B2E" d="M551.991 64H144.28l-8.726-44.608C133.35 8.128 123.478 0 112 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h80.24l69.594 355.701C150.796 415.201 144 430.802 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64 35.346 0 64-28.654 64-64 0-18.136-7.556-34.496-19.676-46.142l1.035-4.757c3.254-14.96-8.142-29.101-23.452-29.101H203.76l-9.39-48h312.405c11.29 0 21.054-7.869 23.452-18.902l45.216-208C578.695 78.139 567.299 64 551.991 64zM208 472c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm256 0c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm23.438-200H184.98l-31.31-160h368.548l-34.78 160z" class=""></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <!--/Nav-->
    </header>
    <!--/Header-->

    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script-->
    <script>
        window.jQuery || document.write('<script src="jquery.min.js"><\/script>')
    </script>
    <script>
        $(function() {
            $('.nav__icon').on('click', function() {
                $(this).toggleClass('active');
                $('header.header_v2').toggleClass('slided');
                //$('nav ul').not('.v2__cart').slideToggle();
                $('nav ul').not('.v2__cart').fadeToggle(250);

                /*var status=$(this).is(":hidden");

                alert(status);

                $(this).parent().next().slideToggle('fast');

                var status=$(this).is(":hidden");

                alert(status);*/

            });

            $(window).on('load resize', function() {
                var w = $(window).width();
                var h = $(window).height();
                var x = 700;
                if (w >= x) {
                    $('nav ul:not(.v2__cart)').not('.v2__cart').css({
                        display: 'flex',
                        height: 'auto'
                    });
                } else {
                    $('nav ul').not('.v2__cart').css({
                        display: 'none',
                        height: h + 'px'
                            /*/
                                                    /*height: '100vh'*/
                    });
                }
            });
        });
    </script>
</body>

</html>